---
title: 404 Страница не найдена
---

<section class="container my-5 py-5">
	{% include components/h.html text='Страница не найдена!<br>Ошибка 404' %}
	<center><img src="https://inginirium.ru/img/404.png" class="w-50"></center>
</section>