---
title: Новости
---

{% include components/h.html text='Новости' %}

{% if paginator.total_posts > 0 %}
<section class="container p-0 my-5">
	<div class='row m-0 text-center'>
		{% for news in paginator.posts %}
			{% include components/news-card.html news=news %}
		{% endfor %}
	</div>
</section>
{% endif %}

{% if paginator.total_pages > 1 %}
<section class="container p-0 my-5">
	<div class="row m-0">
		<div class="col text-left">
			{% if paginator.previous_page_path %}
				<a href="{{ paginator.previous_page_path }}" class="btn btn-purple py-2 px-4 rounded-pill"><i class="las la-angle-left text-white">Сюда</i></a>
			{% else %}
				<span class="btn btn-purple py-2 px-4 rounded-pill disabled"><i class="las la-angle-left text-white">Сюда</i></span>
			{% endif %}
		</div>
		<div class="col-4 text-center pt-2">
			<input id="current_page_number" type="number" min="1" max="{{ paginator.total_pages }}" placeholder="1" value="{{ paginator.page }}" required> / {{ paginator.total_pages }}
		</div>
		<div class="col text-right">
			{% if paginator.next_page_path %}
				<a href="{{ paginator.next_page_path }}" class="btn btn-purple py-2 px-4 rounded-pill"><i class="las la-angle-right text-white">Туда</i></a>
			{% else %}
				<span class="btn btn-purple py-2 px-4 rounded-pill disabled"><i class="las la-angle-right text-white">Туда</i></span>
			{% endif %}
		</div>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	$("#current_page_number").change(function() {
		var value = parseInt(this.value, 10);
		if (value >= parseInt(this.min, 10) && value <= parseInt(this.max, 10)) {
			window.location = '{{ site.url }}/news/' + this.value;
		}
	});
});
</script>
{% endif %}

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}