<footer class="mt-5 bg-light py-5">
	<div class="container p-0 py-4">
		<div class='row m-0'>
			<div class='col-12 col-lg-6 py-3 mb-5'>
				<div class="row justify-content-center justify-content-sm-start m-0">
					<div class='col-12 col-sm-auto text-center text-sm-left'>
						<img alt='Инжинириум МГТУ им. Н.Э.Баумана' src='https://inginirium.ru/img/logo_small.png'>
					</div>
					<div class='col-12 col-sm text-center text-sm-left'><small>Все права защищены</small></div>
				</div>
			</div>
			
			<div class='col-12 d-block d-sm-none justify-content-center'>		
				<div class='container p-0'>		
					Телефон: <b><a href='tel:88005005617'>8 (800) 500 56 17</a></b><br>
					Для СМИ: <b><a href='mailto:press@emtc.ru'>press@emtc.ru</a></b><br>
					Хотите работать у нас?<br>
					<b><a href='mailto:a@inginirium.ru'>a@inginirium.ru</a></b><br>
					<hr>
					<div class='container pb-5'>
						<div class='row justify-content-center m-0'>
							<div class='col-auto px-2'><a href='https://fb.me/inginirium'><i class="lab la-facebook la-3x"></i></a></div>
							<div class='col-auto px-2'><a href='https://instagram.com/inginirium.msk'><i class="lab la-instagram la-3x"></i></a></div>
							<div class='col-auto px-2'><a href='https://vk.com/inginirium'><i class="lab la-vk la-3x"></i></a></div>
							<div class='col-auto px-2'><a href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q'><i class="lab la-youtube la-3x"></i></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class='col-12 col-lg-6 p-3'>
				<div class="row justify-content-center justify-content-sm-end m-0 pb-3">
					<div class='col-12 col-sm-auto text-center text-sm-left'>
						<a href='https://emtc.ru' rel='external' target='_blank'>
							<img alt='Композиты России' src='https://inginirium.ru/img/krlogo.png'>
						</a>
					</div>
					<div class="col">
						<strong>Инжинириум</strong> - <small>проект под управлением МИЦ "Композиты России"</small>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<div class="container p-0">
		<div class="row d-none d-sm-flex m-0">
			<div class='col-md mb-5'>
				<strong><a href='/about/'>О НАС</a></strong><br>
				<a href='/price/'>Цены и скидки</a><br>
				<a href='/faq/'>Ответы на частые вопросы</a><br>
				<a href='/about/#teachers'>Преподаватели</a><br>
				<a href='/feedback/'>Отзывы</a><br>
				<a href='/about/#partners'>При поддержке</a><br>
				<a href='/news/'>Новости</a><br>	
				<a href='/press/'>СМИ о нас</a><br>	
				<a href='/brand/'>Фирменный стиль</a>		
			</div>
			<div class='col-md mb-5'>
				<strong><a href='/technopark/'>ТЕХНОПАРКИ</a></strong><br>
				<a href='/technopark/'>О технопарках</a><br>
				<a href='/cmit/'>ЦМИТ</a><br>
				<a href='/students/'>Работа со студентами</a>
			</div>
			<div class='col-md mb-5'>
				<strong><a href='/courses/'>КУРСЫ</a></strong><br>
				<strong><a href='/master-classes/'>МАСТЕР-КЛАССЫ</a></strong>
			</div>
			<div class='col-md mb-5'>
				<strong><a href='/branches/'>ФИЛИАЛЫ</a></strong><br>
				<strong><a href='/camps/'>ЛАГЕРЯ</a></strong><br>
				<strong><a href='/exam/'>ЭКЗАМЕН</a></strong><br>
			</div>
			<div class='col-md mb-5'>
				<strong><a href='/docs/'>ДОКУМЕНТЫ</a></strong><br>
				<strong><a href='/franchise/'>ФРАНШИЗА</a></strong>
			</div>
			<div class='col-md-3 mb-5'>
				<strong><a href='/contacts/'>КОНТАКТЫ</a></strong><br>
				Телефон: <b><a href='tel:88005005617'>8 (800) 500 56 17</a></b><br>
				Для СМИ: <b><a href='mailto:press@emtc.ru'>press@emtc.ru</a></b><br>
				Хотите работать у нас?<br>
				<b><a href='mailto:a@inginirium.ru'>a@inginirium.ru</a></b><br>
				<hr>
				<div class='container'>
					<div class='justify-content-center'>
						<a href='https://fb.me/inginirium'><i class="lab la-facebook la-3x"></i></a>
						<a href='https://instagram.com/inginirium.msk'><i class="lab la-instagram la-3x"></i></a>
						<a href='https://vk.com/inginirium'><i class="lab la-vk la-3x"></i></a>
						<a href='https://www.youtube.com/channel/UCBx0xw9L-vvIkiNeCWrP75Q'><i class="lab la-youtube la-3x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>