<div id="mySidenav" class="sidenav">
	<span class="closebtn" onclick="closeNav()"><i class="las la-times"></i></span>
	<ul id="sidenav-ul">
		<li><a href='#menuAbout' data-toggle='collapse' role='button' aria-expanded='false'>О нас</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/about/'>Общая информация</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/price/'>Цены и скидки</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/faq/'>Ответы на вопросы</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/about/#partners'>Партнёры</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/about/#teachers'>Преподаватели</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/feedback/'>Отзывы</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/thanks/'>Благодарности</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/franchise/'>Франшиза</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/docs/'>Документы</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/exam/'>Экзамен</a></li>
		<li class='collapse pl-5' id='menuAbout'><a href='/press/'>СМИ о нас</a></li>
		<li><a href='/courses/'>Курсы</a></li>
		<li><a href='/master-classes/'>Мастер-классы</a></li>
		<li><a href='#menuTechPark' data-toggle='collapse' role='button' aria-expanded='false'>Технопарки</a></li>
		<li class='collapse pl-5' id='menuTechPark'><a href='/technopark/'>О Технопарках</a></li>
		<li class='collapse pl-5' id='menuTechPark'><a href='/cmit/'>ЦМИТ</a></li>
		<li class='collapse pl-5' id='menuTechPark'><a href='/students/'>Работа со студентами</a></li>
		<li><a href='/branches/'>Филиалы</a></li>
		<li><a href='/camps/'>Лагеря</a></li>
		<li><a href='/news/'>Новости</a></li>
		<li><a href='/contacts/'>Контакты</a></li>
	</ul>
</div>

<header class="container py-4">
	<div class='row p-0 pb-4 m-0 d-md-flex d-none'>
		<div class='col-9 p-0'>
			<div>
				<small class='text-uppercase font-weight-bold'>{{ site.type }}</small>
			</div>
			<small>{{ site.license }}</small>
		</div>
		<div class='col-sm text-right p-0 pl-2'>
			<a class="btn btn-block btn-purple rounded-pill py-2" href="https://inginirium.ru/" target="_blank" rel="external">Официальный сайт</a>
		</div>
	</div>

	<div class="row media">
		<div class='col-sm-auto col-12 align-self-center text-center'>
			<span class="float-left d-sm-none pt-2" onclick="openNav()"><i class="las la-bars la-2x"></i></span>
			<a href='/'><img alt='{{ site.shortname }}' src='{{ site.logo }}' height="40px"></a>
			<a href="tel:88005005617" class="float-right d-sm-none pt-2"><i class="las la-phone la-2x"></i></a>
		</div>
		<div class='container col-sm d-none d-sm-block align-self-center p-0 px-3'>
			<div class='row text-uppercase text-nowrap menu'>
				<a href='/about' id="nav-about" class='col-sm d-none d-md-block rounded-pill'>О нас</a>
				<a href='/courses' id="nav-courses" class='col-sm rounded-pill'>Курсы</a>
				<a href='/master-classes' id="nav-master-classes" class='col-sm rounded-pill'>Мастер-классы</a>
				<a href='/technopark' id="nav-technopark" class='col-sm rounded-pill'>Технопарки</a>
				<a href='/camps' id="nav-camps" class='col-sm rounded-pill'>Лагеря</a>
				<a href='/contacts' id="nav-contacts" class='col-sm rounded-pill'>Контакты</a>
				<a href='tel:88005005617' class='col-sm d-none d-xl-block font-weight-bold rounded-pill' id="tel" title="Позвонить">8 (800) 500 56 17</a>
			</div>
		</div>
	</div>
</header>