<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% capture title %}{% if page.title %}{{ page.title | escape }} • {% endif %}{{ site.title | escape }}{% endcapture %}
	<title>{{ title }}</title>

	{% include pwa.html %}
	{% include styles.html %}
	{% include scripts.html %}
</head>