<div class="p-3 text-center bg-danger text-white alert alert-warning alert-dismissible fade show" role='alert'>
	Тестовое задание. Не является официальным сайтом {{ site.fullname }}. Coded with love by <a href="https://t-dev-studio.github.io" rel="external" target="_blank" class="text-white font-weight-bold">T-DEV</a>. Powered by Jekyll.
	<button type="button" class="close" data-dismiss="alert">
	    <i class="las la-times text-white"></i>
	</button>
</div>