<a name='calc'></a>
<section class="py-5">
	{% include components/h.html text='Калькулятор скидок' %}
	<div class='container' id="calculus">
		<div class='row mb-3 px-3'>
			<div class='col-12 col-md'>Выберите курс</div>
			<div class='col-12 col-md'>
				<select class='form-control' id='course_selector' onchange='calc(0,20,30)' required>
					<option value='0' disabled selected>Выберите курс</option>
					{% for course in site.courses %}
						<option value='{{ course.cost }}'>{{ course.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class='row m-0'>
			<div class='col-12 col-lg-8'>
				<div class='row'>
					<div class='col-12 col-md-6'>Выберите период оплаты</div>
					<div class='col-12 col-md-6'>
						<input name='calc_period' type='radio' onchange='calc(0,20,30)' id='c_period1' value='0' checked><label for='c_period1'>Каждый месяц (4 занятия)</label><!-- скидка 0% --><br/>
						<input name='calc_period' type='radio' onchange='calc(0,20,30)' id='c_period2' value='10'><label for='c_period2'>За семестр (15 занятий)</label><!-- скидка 10% --><br/>
						<input name='calc_period' type='radio' onchange='calc(0,20,30)' id='c_period3' value='15'><label for='c_period3'>За курс (30 занятий)</label><!-- скидка 15% --><br/>
					</div>
				</div>
				
				<div class='row'>
					<div class='col-12 col-md-6'>Ранее посещали курсы Инжинириума?</div>
					<div class='col-12 col-md-6'>
						<input name='calc_before' type='radio' onchange='calc(0,20,30)' id='c_before1' value='0' checked><label for='c_before1'>Нет, это первый раз</label><!-- скидка 0% --><br/>
						<input name='calc_before' type='radio' onchange='calc(0,20,30)' id='c_before2' value='10'><label for='c_before2'>Да, уже закончил один курс</label><!-- скидка 10% --><br/>
						<input name='calc_before' type='radio' onchange='calc(0,20,30)' id='c_before3' value='15'><label for='c_before3'>Да, уже закончил два курса</label><!-- скидка 15% --><br/>	
						<input name='calc_before' type='radio' onchange='calc(0,20,30)' id='c_before4' value='20'><label for='c_before4'>Да, уже закончил три или более курсов</label><!-- скидка 20% --><br/>	
					</div>
				</div>
				
				
				<div class='row'>
					<div class='col-12 col-md-6'>Планируете посещать один курс или сразу несколько?</div>
					<div class='col-12 col-md-6'>
						<input name='calc_plan' type='radio' onchange='calc(0,20,30)' id='c_plan1' value='0' checked><label for='c_plan1'>Планирую ходить на один курс</label><!-- скидка 0% --><br/>
						<input name='calc_plan' type='radio' onchange='calc(0,20,30)' id='c_plan2' value='7'><label for='c_plan2'>Буду ходить сразу на два и более курса</label><!-- скидка 7% --><br/>
					</div>
				</div>
			 
				<div class='row'>
					<div class='col-12 col-md-6'>Вы из многодетной семьи?</div>
					<div class='col-12 col-md-6'>
						<input name='calc_many' type='radio' onchange='calc(0,20,30)' id='c_many2' value='0' checked><label for='c_many2'>Нет</label><!-- скидка 0% --><br/>
						<input name='calc_many' type='radio' onchange='calc(0,20,30)' id='c_many1' value='15'><label for='c_many1'>Да</label><!-- скидка 15% --><br/>
					</div>
				</div>
			</div>
			
			<div class='col-12 col-lg-4'>
				<div class='container pt-4'>
					<div class='row justify-content-center'>
						<div class='font-weight-bold'>
							 <div class='text-center' id='customer_discount_no_course' style='background-color:#cccccc;color:white;'>
								<div class=''>
									<div class='align-self-center'>Выберите курс<br>для расчета скидки</div>
								</div>
							 </div>

							 <div class='text-center' id='customer_discount_calculated' style='background-color:#fee500;color:black;display:none;'>
								<div class=''>
									<div class='align-self-end h4 font-weight-bold'>Ваша<br>скидка</div>
								</div>
								<hr class='m-0'>
								<div class='text-danger font-weight-bold h3'>
									<span class='text-danger' id='fulldiscount'>0</span>%
								</div>
							 </div>
						</div>
					</div>
				</div>
				
				<div id='customer_discount_calculated_text' style='display:none;'>
					<div class='text-center'>Одно занятие: <span class=''><span id='result'>0</span> руб.</span></div>
					<div class='text-center'>Весь курс: <span class=''><span id='course'>0</span> руб.</span></div>
					<div class='text-center'>Экономия: <span class=''><span id='economy'>0</span> руб.</span></div>
					<div id='customer_discount_max' class='text-muted text-center'>* Максимальный размер скидки: 20%</div>
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-12 p-4 text-center'>Данный расчет цены и размер скидки не является публичной офертой.</div>
			<div class='col-12 p-4 text-center'>
				<a href='#' id='popup_discount_submit' onclick='yaCounter44599405.reachGoal("get_lead"); return true;'>
					<div id='calc_submit' style='display: none;' class=''>Получить скидку</div>
				</a>
			</div>
		</div>
	</div>
</section>

<script>
$(document).on('change', '#course_selector', function() {
	$('#customer_discount_calculated').css('display','block');
	$('#customer_discount_calculated_text').css('display','block');
	$('#customer_discount_no_course').css('display','none');
	$('#customer_discount_max').css('display','block');
	$('#calc_submit').css('display','inline-block');
});
</script>

<script type="text/javascript">
function calc(globaldiscountsum,maxdiscount,duration_course) {
		var price_selector = document.getElementById("course_selector");
		var price = price_selector.options[price_selector.selectedIndex].value;
		var coursename = price_selector.options[price_selector.selectedIndex].text;
	var c_period1 = document.getElementById("c_period1");
	var c_period2 = document.getElementById("c_period2");
	var c_period3 = document.getElementById("c_period3");
		
		var c_before1 = document.getElementById("c_before1");
	var c_before2 = document.getElementById("c_before2");
	var c_before3 = document.getElementById("c_before3");
	var c_before4 = document.getElementById("c_before4");	
		
		var c_plan1 = document.getElementById("c_plan1");
	var c_plan2 = document.getElementById("c_plan2");
		
	var c_many1 = document.getElementById("c_many1");
	var c_many2 = document.getElementById("c_many2");


		
	var result = document.getElementById("result"); 
	var fulldiscount = document.getElementById("fulldiscount"); 
		var discount = 0;
		
		discount += globaldiscountsum;
		discount += (c_period1.checked == true) ? parseInt(c_period1.value) : 0;
		discount += (c_period2.checked == true) ? parseInt(c_period2.value) : 0;
		discount += (c_period3.checked == true) ? parseInt(c_period3.value) : 0;

		discount += (c_before1.checked == true) ? parseInt(c_before1.value) : 0;
		discount += (c_before2.checked == true) ? parseInt(c_before2.value) : 0;
		discount += (c_before3.checked == true) ? parseInt(c_before3.value) : 0;
		discount += (c_before4.checked == true) ? parseInt(c_before4.value) : 0;
					
		discount += (c_plan1.checked == true) ? parseInt(c_plan1.value) : 0;
		discount += (c_plan2.checked == true) ? parseInt(c_plan2.value) : 0;
					
		discount += (c_many1.checked == true) ? parseInt(c_many1.value) : 0;
		discount += (c_many2.checked == true) ? parseInt(c_many2.value) : 0;

	totaldiscount = (discount > maxdiscount) ? discount = maxdiscount : discount;
		totalprice = price-price*totaldiscount/100;
		totalprice = Math.round((totalprice + Number.EPSILON) * 100) / 100;
		
		courseround = totalprice*duration_course;
		courseround = Math.round((courseround + Number.EPSILON) * 100) / 100;
		
		economyround = (price*duration_course)-(totalprice*duration_course);
		economyround = Math.round((economyround + Number.EPSILON) * 100) / 100;
		
		fulldiscount.innerHTML = totaldiscount;
		result.innerHTML = totalprice;
		course.innerHTML = courseround;
		economy.innerHTML = economyround;
	
	var totals_to_post = discount+'%';
	if (globaldiscountsum > 0) 		{ totals_to_post += "\n"+"[+"+globaldiscountsum+"%] Глобальная скидка";}
	if (c_period2.checked == true) { totals_to_post += "\n"+"[+10%] Период оплаты: за семестр";}
	if (c_period3.checked == true) { totals_to_post += "\n"+"[+15%] Период оплаты: за курс";}
	if (c_before2.checked == true) { totals_to_post += "\n"+"[+10%] Закончил 1 курс";}
	if (c_before3.checked == true) { totals_to_post += "\n"+"[+15%] Закончил 2 курса";}
	if (c_before4.checked == true) { totals_to_post += "\n"+"[+20%] Закончил 3+ курса";}
	if (c_plan2.checked == true) { totals_to_post += "\n"+"[+ 7%] Планирует ходить на 2 и более курсов";}	
	if (c_many1.checked == true) { totals_to_post += "\n"+"[+15%] Из многодетной семьи";}
	
	document.getElementById("js_discount_info").value = totals_to_post;	
	document.getElementById("js_course_info").value = coursename;	
}
</script>