<section class="bg-yellow">
	<div id="carouselSlide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for item in site.data.index.carousel %}
			<li data-target="#carouselSlide" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for item in site.data.index.carousel %}
			<div class='carousel-item{% if forloop.first %} active{% endif %} align-items-center justify-content-center py-5'>
				<div class='align-items-center justify-content-center align-self-center'>
					<div class='container align-self-center p-0'>
						<div class='row align-self-md-center justify-content-center align-items-center m-0'>
							<div class='col-md-5 align-self-center text-center' style="height: 300px;">
								<img alt='{{ item.title }}' src='{{ item.image }}' style="max-width: 300px;">
							</div>	
							<div class='col-md align-self-center text-center text-md-left pl-md-5 pl-lg-0'>
								<div class='h3 pb-3 font-weight-bold'>{{ item.title }}</div>	
								<div class='h4 pb-3'>{{ item.subtitle }}</div>
								<div class='d-flex justify-content-center justify-content-md-start'>
									<a class='btn btn-purple btn-rainbow rounded-pill py-2 px-5' href='{{ item.btnlink }}'>{{ item.btntext }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
			<i class="las la-angle-left la-2x text-dark"></i>
		</a>
		<a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
			<i class="las la-angle-right la-2x text-dark"></i>
		</a>
	</div>
</section>