<div class="col-lg-{% if include.whitebg %}6{% else %}3{% endif %} container">
	<div class="row px-3">
		<div class="col {% if include.whitebg %}{% else %}bg-yellow {% endif %}pb-3">
			{% include components/h.html text=include.text class='h6' %}
			<div class="card rounded-0 border-0 {% if include.whitebg %}{% else %}bg-yellow{% endif %}">
				<form class='' method='post' id='cta_course_form' action='https://inginirium.ru/cta_course_form'>
					<input class='form-control rounded-pill mb-3' type='text' name='name' placeholder='Ваше имя'>
					{% if include.town %}<input class='form-control rounded-pill mb-3' type='text' name='town' placeholder='Город *' required>{% endif %}
					{% if include.promo %}<input class='form-control rounded-pill mb-3' type='text' name='promo' placeholder='Промокод'>{% endif %}
					{% if include.email %}<input class='form-control rounded-pill mb-3' type='email' name='email' placeholder='Адрес электронной почты *' required>{% endif %}
					<input class='form-control rounded-pill mb-3' type='tel' name='phone' placeholder='Номер телефона *' required>
					<input class='form-control rounded-pill mb-3 btn btn-purple' type='submit' value='Отправить'>
				</form>
				<small class='mb-3 mt-4'>Нажимая на кнопку "Отправить", вы принимаете <a href='/userconsent' class="text-primary">"Согласие на обработку персональных данных"</a> и подтверждаете, что ознакомлены с <a href='/policy' class="text-primary">"Политикой конфиденциальности"</a>.</small>
				<div id='cta_course_form_thanks' class="d-none">Спасибо!<br>Мы свяжемся с Вами в ближайшее время!</div>
			</div>
		</div>
	</div>
</div>