<section class='container my-5 p-0'>
	<div class='media row px-4 m-0'>
		<div class='col-12 col-md-6' style="background: url('https://inginirium.ru/img/faq.png') center no-repeat; min-width: 260px; min-height: 260px;"></div>
		<div class='col-12 col-md-6 align-self-center'>
			<div class='h3 font-weight-bold'>ОСТАЛИСЬ ВОПРОСЫ?</div>
			<div class='pt-3'>Читайте <a class="text-primary" href='/faq'>ответы на частые вопросы</a> или позвоните нам:<br>
			<a class='font-weight-bold'href='tel:+74951209975'>+7 (495) 120-99-75</a></div>
		</div>
	</div>
</section>