<section class="bg-light py-5 my-5">
	<div class='container'>
		<div class='row'>
			<div class='col-12 col-lg-6'>
				<div class='h3 font-weight-bold'>НАША ЦЕЛЬ —<br>создание нового поколения<br>молодых инженеров</div>
				<div class='d-none d-lg-block pt-4'>
				<ul>
					<li>Поиск талантов и простор для творчества</li>
					<li>Профориентация в лучшем техническом ВУЗе России</li>
					<li>Современное оборудование и увлеченные преподаватели</li>
				</ul>
				</div>
			</div>

			<div class='col-12 col-lg-6 py-3 py-lg-0'>
				<img alt='Наша цель' class='img-fluid' src='https://inginirium.ru/img/tgpic.png'>
			</div>

			<div class='col-12 d-lg-none main__targetblock_target_list'>
				<ul>
					<li>Поиск талантов и простор для творчества</li>
					<li>Профориентация в лучшем техническом ВУЗе России</li>
					<li>Современное оборудование и увлеченные преподаватели</li>
				</ul>
			</div>

			<div class='col-12 py-3'>
				<div class='row text-center align-items-center'>
					<div class='col-4 col-md order-1 order-md-1 py-2'><img alt='МГТУ им. Н.Э.Баумана' class='img-fluid' src='https://inginirium.ru/img/mgtu.png'></div>
					<div class='col-4 col-md order-2 order-md-2 py-2'><img alt='Министерство Экономического Развития РФ' class='img-fluid' src='https://inginirium.ru/img/merrf.png'></div>
					<div class='col-6 col-md order-4 order-md-3 py-2'><img alt='ДПИР' class='img-fluid' src='https://inginirium.ru/img/dpir.png'></div>
					<div class='col-6 col-md order-5 order-md-4 py-2'><img alt='Композиты России' class='img-fluid' src='https://inginirium.ru/img/komros.png'></div>
					<div class='col-4 col-md order-3 order-md-5 py-2'><img alt='Агентство инновация' class='img-fluid' src='https://inginirium.ru/img/aim.png'></div>
				</div>
			</div>
		</div>
	</div>
</section>