<section class="container p-0 my-5">
	<div class='row m-0 text-center'>
		{% for news in site.posts limit:3 %}
			{% include components/news-card.html news=news %}
		{% endfor %}
	</div>
	<div class="container">
		<a href="/news" class="btn btn-block btn-purple p-4 text-break rounded-0 mb-4">Перейти ко всем новостям</a>
	</div>
</section>