<div class='container p-0 my-5 d-none d-lg-block'>
	<div class='row no-gutters'>
		<div class='col'><a href='#!'><img alt='Шаг 1' class='w-100' src='https://inginirium.ru/img/step1.png'></a></div>
		<div class='col'><a href='#!'><img alt='Шаг 2' class='w-100' src='https://inginirium.ru/img/step2.png'></a></div>
		<div class='col'><a href='#!'><img alt='Шаг 3' class='w-100' src='https://inginirium.ru/img/step3.png'></a></div>
		<div class='col'><a href='#!'><img alt='Шаг 4' class='w-100' src='https://inginirium.ru/img/step4.png'></a></div>
		<div class='col'><a href='#!'><img alt='Шаг 5' class='w-100' src='https://inginirium.ru/img/step5.png'></a></div>
	</div>
</div>

<div class="container my-5 d-lg-none">
	<dl class="row">
		<dt class="col-3">
			<img alt='МГТУ им. Н.Э.Баумана' src='https://inginirium.ru/img/mgtu_small.png'>
		</dt>
		<dd class="col-9">
			<div class="bg-purple rounded-top p-2"><i class="las la-angle-right text-white"></i> МГТУ им. Н.Э.Баумана</div>
			Поступление в ведущий технический ВУЗ страны
		</dd>

		<dt class="col-3">9-11 класс</dt>
		<dd class="col-9">
			<div class="bg-primary text-white rounded-top p-2"><i class="las la-angle-right text-white"></i> Технопарк</div>
			Подготовка к поступлению в ВУЗ, проектная деятельность
		</dd>

		<dt class="col-3">5-8 класс</dt>
		<dd class="col-9">
			<div class="bg-danger text-white rounded-top p-2"><i class="las la-angle-right text-white"></i> Инженерные курсы</div>
			Курсы для средней школы разной сложности
		</dd>

		<dt class="col-3">1-4 класс</dt>
		<dd class="col-9">
			<div class="bg-success text-white rounded-top p-2"><i class="las la-angle-right text-white"></i> Подготовительные курсы</div>
			Для младших классов
		</dd>

		<dt class="col-3">детский сад</dt>
		<dd class="col-9">
			<div class="bg-yellow rounded-top p-2"><i class="las la-angle-right"></i> Увлекательные курсы</div>
			Для самых маленьких
		</dd>
	</dl>
</div>