<div class='container my-5'>
	<div class='w-100 embed-responsive embed-responsive-16by9'>
		<iframe title='Инжинириум МГТУ им. Н.Э.Баумана' class='embed-responsive-item' src='https://www.youtube.com/embed/WC2hRZlrcbs?rel=0'></iframe>
	</div>
</div>