<div class='container d-none d-sm-block px-4 my-5'>
	<div class='row text-nowrap m-0 menu'>
		<a id="nav-price" href='/price' class='col-sm d-none d-md-block rounded-pill'>Цены и скидки</a>
		<a id="nav-faq" href='/faq' class='col-sm rounded-pill'>Ответы на вопросы</a>
		<a id="nav-partners" href='/about#partners' class='col-sm rounded-pill'>Партнёры</a>
		<a id="nav-teachers" href='/about#teachers' class='col-sm rounded-pill'>Преподаватели</a>
		<a id="nav-feedback" href='/feedback' class='col-sm rounded-pill'>Отзывы</a>
		<a id="nav-thanks" href='/thanks' class='col-sm rounded-pill'>Благодарности</a>
	</div>
</div>