<div class='container d-none d-sm-block px-4 my-5'>
	<div class='row text-nowrap m-0 menu'>
		<a id="nav-cmit" href='/cmit' class='col-sm d-none d-md-block rounded-pill'>ЦМИТ</a>
		<a id="nav-technoparki" href='/technopark' class='col-sm rounded-pill'>Технопарки</a>
		<a id="nav-students" href='/students' class='col-sm rounded-pill'>Работа со студенами</a>
	</div>
</div>