






<section class="container my-5 p-0">
	<div class="row m-0">
		<div class="col">
			<div class="row">
				{% for course in site.courses limit:4 %}
					{% include components/course-card.html course=course %}
				{% endfor %}
			</div>
			<a href="/courses" class="btn btn-block btn-purple p-4 text-break rounded-0 mb-4">Ещё 9 курсов ИНЖИНИРИУМА</a>
		</div>
		{% include blocks/cta-course-form.html text='Записаться на курсы' %}
	</div>
</section>