@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
	--primary: #fee500;
	--purple: #6f42c1;
}

html * {
	font-family: 'Montserrat', sans-serif;
	color: black;
}


::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(254, 229, 0, 0.1); background-color: var(--purple); }
::-webkit-scrollbar {width: 15px; background-color: var(--purple); }
::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 6px rgba(254, 229, 0, 0.1); background-color: var(--primary); }


#news-section a {
	color: var(--purple);
}

#news-section img {
	width: 100%;
}

.menu a:link, .menu a:visited {
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.menu a:hover:not(#tel), .menu a:active:not(#tel) {
	outline: black 1px solid;
}

.bg-yellow {
	background-color: var(--primary);
}

.bg-purple {
	background-color: var(--purple);
	color: white;
}
.text-purple {
	color: var(--purple);
}

.btn-purple {
	background-color: var(--purple);
	color: white;
}
.btn-purple:hover, .btn-purple:active {
	color: white;
}

.btn-rainbow:hover{
	background-image: linear-gradient(to right, 
		#E7484F,
		#E7484F 16.65%,
		#F68B1D 16.65%,
		#F68B1D 33.3%,
		#FCED00 33.3%,
		#FCED00 49.95%,
		#009E4F 49.95%,
		#009E4F 66.6%,
		#00AAC3 66.6%,
		#00AAC3 83.25%,
		#732982 83.25%,
		#732982 100%,
		#E7484F 100%
	);
	animation: slidebg 7s linear infinite;
}


@keyframes slidebg {
	to {
		background-position:20vw;
	}
}

ul:not(#sidenav-ul) {
	list-style-image: url('https://inginirium.ru/img/darr.png');
	list-style-position: inside;
	padding: 7px 0;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border: 2px black solid;
}

.sidenav ul {
	padding: 0;
	list-style: none;
}

.sidenav ul li {
	padding: 0 20px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: white;
  background-color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.about_info li {
	padding: 20px;
}

#calculus {
	font-weight: bold;
}

#calculus div {
	padding: 5px;
}

#calculus label {
	font-weight: normal;
}