<div class="col-md-{% if include.col %}{{ include.col }}{% else %}6{% endif %} col-12 mb-4 filter {{ include.course.filter }}">
	<a href="{{ include.course.url }}">
		<div class="card p-4 rounded-0">
			<center class="card-body">
				<img src="{{ include.course.image }}" height="100px">
				{% include components/h.html text=include.course.title class='h5' %}
			</center>
			<div class="card-footer clearfix bg-white border-dark px-0">
				<small>
					<b class="float-left">{{ include.course.classes }}</b>
					<b class="float-right">{{ include.course.cost }} руб./занятие</b>
				</small>
			</div>
		</div>
	</a>
</div>