<section class='container my-5 p-0'>
	<center><img src="{{ include.image }}" class="w-50 d-sm-none"></center>
	<div class='media px-4 m-0'>
		<img src="{{ include.image }}" class="w-50 align-self-center d-sm-block d-none">
		<div class="row m-0">
			{% include blocks/cta-course-form.html whitebg="1" text=include.text email=include.email promo=include.promo %}
		</div>
	</div>
</section>