<div class="col-md-{% if include.col %}{{ include.col }}{% else %}6{% endif %} col-12 mb-4 filter {{ include.feedback.filter }}">
	<div class="card p-4 rounded-0">
		<center class="card-body p-0 pb-4">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src='{{ include.feedback.video }}' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen class="embed-responsive-item"></iframe>
			</div>
		</center>
		<div class="card-footer p-0 bg-white border-dark">
			<small>
				<b>{{ include.feedback.customer }}</b>
				<div class="media">
					<img src="{{ include.feedback.course_logo }}" class="align-self-center mr-2" height="35px">
					<b class="align-self-center">{{ include.feedback.course }}</b>
				</div>
			</small>
		</div>
	</div>
</div>