<section class="py-5 bg-yellow">
	<center><img src="{{ include.image }}" class="w-50 d-sm-none"></center>
	<div class="container media">
		<img src="{{ include.image }}" class="w-50 d-none d-sm-block">
		<div class="align-self-center mx-3">
			{% include components/h.html text=include.title %}
			{% include components/h.html text=include.subtitle class='' %}
		</div>
	</div>
</section>