{% assign instructor = site.data.instructors | where: "fullname", include.instructor | first %}

<section class='container my-5'>
	<center><img src="{{ instructor.photo }}" class="align-self-center mr-3 d-md-none" alt="{{ include.title }}" height="180px"></center>
	<div class="media my-5">
		<img src="{{ instructor.photo }}" class="mr-3 d-none d-md-block" alt="{{ include.title }}" height="180px">
		<div class="media-body align-self-center">
			<div class="h3 font-weight-bold">{{ instructor.fullname }}</div>
			<hr>
			{% if instructor.quote %}<div class="h6 mb-5"><i>«{{ instructor.quote }}»</i></div>{% endif %}

			{% if instructor.edu %}<div class="mt-2"><b>Образование</b><br><small>
				{% for edu in instructor.edu %}
					- {{ edu }}{% if forloop.last %}.{% else %};<br>{% endif %}
				{% endfor %}
			</small></div>{% endif %}
			{% if instructor.dopedu %}<div class="mt-2"><b>Дополнительное образование</b><br><small>
				{% for dopedu in instructor.dopedu %}
					- {{ dopedu }}{% if forloop.last %}.{% else %};<br>{% endif %}
				{% endfor %}
			</small></div>{% endif %}
			{% if instructor.about %}<div class="mt-2"><b>О себе</b><br><small>
				{% for about in instructor.about %}
					- {{ about }}{% if forloop.last %}.{% else %};<br>{% endif %}
				{% endfor %}
			</small></div>{% endif %}
		</div>
	</div>
</section>