<a class='col-12 col-md-6 col-xl-4 mb-4' href='{{ include.news.url }}'>
	<div class='border p-4'>
		<div class='mb-3'>{{ include.news.date | date: "%d.%m.%Y" }}</div>
		<div class='bg-yellow mb-3'>
			<div class='h5 font-weight-bold p-2'>{{ include.news.title }}</div>
		</div>
		<div class='text-left'>
			<small>{{ include.news.description | truncate: 160, '...' }}</small>
		</div>
	</div>
</a>