<div class="card">
	<div class="card-header bg-white" id="heading{{ forloop.index }}">
		<h2 class="mb-0">
			<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsefaq{{ forloop.index }}" aria-expanded="false" aria-controls="collapsefaq{{ forloop.index }}">
				<div class="h4 m-0 font-weight-bold">{{ qa.q }}</div>
			</button>
		</h2>
	</div>

	<div id="collapsefaq{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordionN{{ accordionid }}">
		<div class="card-body p-4">
			{{ qa.a }}
		</div>
	</div>
</div>