<div class="col-md-{% if include.col %}{{ include.col }}{% else %}6{% endif %} col-12 mb-4">
	<a href="{{ include.thanks.image }}" target="_blank">
		<div class="card p-4 rounded-0">
			<center class="card-body p-0 pb-4">
				<img src="{{ include.thanks.image }}" class="w-100" loading='lazy'>
			</center>
			<div class="card-footer p-0 bg-white border-dark">
				<small>
					<b>{{ include.thanks.title }}</b><br>
					{{ include.thanks.subtitle }}
				</small>
			</div>
		</div>
	</a>
</div>