---
permalink: about/
---

{% include blocks/subnav-about.html %}

<section class="bg-yellow py-5">
	<div class='container pb-5'>
		{% include components/h.html text='О нас' %}
		<div class='row m-0 text-break'>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_1.png'></div><div class='align-self-center'>За 5 лет в «Инжинириум МГТУ им. Н.Э. Баумана» обучились более 12 500 детей</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_2.png'></div><div class='align-self-center'>Действует 250 образовательных центров в Москве и Санкт-Петербурге</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_3.png'></div><div class='align-self-center'>Дети обучаются по авторским методикам и программам, разработанным квалифицированными специалистами</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_4.png'></div><div class='align-self-center'>Вы можете выбрать удобный формат занятий: инженерные курсы, лагеря-интенсивы на школьных каникулах или мастер-классы</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_5.png'></div><div class='align-self-center'>Инженерное творчество доступно детям всех возрастов: с детского сада до поступления в университет!</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_6.png'></div><div class='align-self-center'>Учащиеся в «Инжинириум МГТУ им. Н.Э. Баумана» регулярно участвуют в российских и международных соревнованиях профессионального мастерства</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_7.png'></div><div class='align-self-center'>Выпускники «Инжинириум МГТУ им. Н.Э. Баумана» получают льготы при поступлении в МГТУ им. Н.Э. Баумана</div></div>
			<div class='col-12 col-lg-6 media'><div class='align-self-center p-3'><img src='https://inginirium.ru/img/about_8.png'></div><div class='align-self-center'>«Инжинириум МГТУ им. Н.Э. Баумана» готовит не к инженерной специальности, а к успешной жизни!</div></div>
			</div>
		</div>
	</div>
</section>

<div class='container my-5 py-5 about_info'>
	<img class='container pb-5' src='https://inginirium.ru/img/about_pic.png'>
	<div class='row m-0'>
		<div class='col-12 col-md-6'>
			<ul>
				<li><strong>«Инжинириум МГТУ им. Н.Э. Баумана»</strong> — сеть образовательных центров для детей и подростков. В состав Инжинириума входят два Центра детского инновационного творчества (ЦМИТ), два Технопарка, а также разветвленная сеть Филиалов в России и за рубежом.</li>
				<li><strong>«Инжинириум МГТУ им. Н.Э. Баумана»</strong> является одним из проектов Межотраслевого Инжинирингового Центра <a href='https://emtc.ru'>«Композиты России»</a> - ведущего российского Центра в области разработки и внедрения инновационных материалов и изделий.</li>
				<li><strong>Цель проекта - профессиональная ориентация учащихся, развитие их технических навыков и инженерного мышления, которое в дальнейшем поможет ребятам при поступлении в высшие учебные заведения технического профиля, даст дополнительное понимание проектной деятельности и умение реализовать технические идеи в практическом исполнении.</strong></li>
				<li>Проект «Инжинириум МГТУ им. Н.Э. Баумана» инициирован указом Президента Российской Федерации и проходит при поддержке Департамента образования города Москвы, Департамента науки, промышленной политики и предпринимательства города Москвы, Министерства экономического развития Российской Федерации, Агентства Инноваций города Москвы.</li>
				<li>Мы применяем инновационные образовательные технологии, далеко выходящие за рамки классического школьного курса. Дети обучаются по авторским методикам и программам высококвалифицированных специалистов. Наши преподаватели - это лучшие выпускники, аспиранты, молодые научные сотрудники и преподаватели ведущих ВУЗов России, победители Всероссийских и Международных Олимпиад профессионального мастерства.</li>
			</ul>
		</div>
		<div class='col-12 col-md-6'>
			<ul>
				<li>МГТУ им. Н.Э. Баумана признан лучшим университетом в сфере «технических наук, инжиниринга и технологий» и готовит будущих инженеров по двадцати направлениям.«Инжинириум МГТУ им. Н.Э. Баумана» — официальное образовательное структурное подразделение университета. Выпускники наших курсов получают льготы при поступлении в Бауманку. Занятия в «Инжинириум» доступны школьникам Москвы и Санкт-Петербурга.</li>
				<li>С каждым годом инженерные специальности набирают все большую популярность: стать настоящим профессионалом в этой области не только престижно и высокооплачиваемо, но и безумно интересно. «Инжинириум» помогает молодым талантам определиться с вектором своей карьеры со школьной скамьи, подготовиться к поступлению в ВУЗ и воплотить мечты в реальность. Как сделать правильный выбор, когда инженерных специальностей так много? Попробуйте себя в любом направлении — от ракетостроения и композитов до нейротехнологий и биотехнологий!</li>
				<li>Мы используем технологии междисциплинарного обучения, ежедневно разрабатываем новые интересные курсы, добавляем в программы уникальные эксперименты и предоставляем безграничный простор для творчества. Учащиеся «Инжинириум МГТУ им. Н.Э. Баумана» ежегодно демонстрируют высокие результаты на Всероссийских и международных конкурсах для молодых профессионалов: WorldSkills, «Реактор», Олимпиада НТИ, Junior  Composite Battle, «Шустрик».</li>
				<li><strong>«Инжинириум» готовит к успешной жизни!  Благодаря нашим уникальным курсам дети получают бесценный опыт подготовки научных проектов для участия в российских и международных соревнованиях.</strong></li>
			</ul>
		</div>
	</div>
</div>

<section class="bg-light pt-5 border-top border-bottom">
	<div class="container">
		<div class='row m-0 pb-5'>
			<div class='col-12 col-lg-6 media mb-3'>
				<div class='align-self-center p-3'>
					<img src='https://inginirium.ru/img/about_mgtu.png'>
				</div>
				<div class='align-self-center'>Мы — официальная образовательная структура МГТУ им. Н.Э. Баумана. Выпускники Инжинириума имеют льготы при поступлении в МГТУ. Филиалы Инжинириума есть в Москве и Санкт-Петербурге.</div>
			</div>
			<div class='col-12 col-lg-6 media mb-3'>
				<div class='align-self-center p-3 mr-2'>
					<img src='https://inginirium.ru/img/about_r.png'>
				</div>
				<div class='align-self-center'><b>Инжинириум МГТУ им. Н.Э. Баумана</b> — товарный знак, зарегистрированный в Государственном реестре товарных знаков и знаков обслуживания, №667621 от 07.04.2017.</div>
			</div>
		</div>
	</div>
</section>

<section class='container my-5 d-none d-sm-block'>
	<div class='row m-0 py-5'>
		<div class='col align-self-center'>
			<img class='img-fluid p-3' src='https://inginirium.ru/img/about_inglogo.png'></div>
		<div class='col-1 text-center align-self-center'>
			<img src='https://inginirium.ru/img/about_rarr.png'>
		</div>
		<div class='col align-self-center h4 font-weight-bold'>Мы не следим за тенденциями в инженерном творчестве, мы их задаём!</div>
	</div>
</section>

<section class="container my-5">
	<div class="row m-0">
		<div class="col-sm bg-yellow p-5">
			<p>Если нас спрашивают:</p>
			<div class="h5 font-weight-bold">— Как определиться с инженерной специальностью?</div><br>
			<p>Мы уверенно отвечаем:</p>
			<div class="h5 font-weight-bold">— Попробуйте любую! И выберите ту, которая понравится больше остальных.</div>
		</div>
		<div class="col-sm p-5">
			Мы помогаем новому поколению инженеров определиться со своей будущей специальностью самым простым путём: <strong>попробовать себя в любом направлении — от робототехники и программирования до 3D-моделирования и биотехнологий!</strong><br><br>Для этого мы используем технологии междисциплинарного обучения, ежедневно разрабатываем новые интересные курсы, добавляем в программы уникальные эксперименты и предоставляем безграничный простор для творчества.<br><br>В Инжинириуме МГТУ им. Н. Э. Баумана мы учим добиваться успеха. Благодаря нашим уникальным курсам дети получают бесценный опыт подготовки научных проектов для участия в российских и международных соревнованиях. При этом, у нас <a href='/price/' class="text-primary">гибкая ценовая политика</a>.
		</div>
	</div>
</section>

<section class="container my-5">
	<div class="media my-5 py-5">
		<img src="https://inginirium.ru/img/about_nelub.png" class="mr-3 d-none d-md-block  align-self-center" height="180px">
		<div class="media-body align-self-center">
			<div>«Сегодня у школьников есть уникальная возможность узнать основы технических профессий с самых ранних лет. Это очень поможет определиться со своей будущей профессией. В школьном возрасте необходимо уделять максимальное количество времени на саморазвитие, подготовку себя к карьере. Я уверен, что занятия в «Инжинириум МГТУ им. Н.Э. Баумана» станут для ребят отправной точкой большого плавания в жизнь. У юных талантов все получится, а мы будем всячески их поддерживать и помогать!»</div>
			<hr>
			<div class="h5 font-weight-bold">Владимир Нелюб</div>
			<div class="">директор компании-оператора технопарка <a href='https://emtc.ru/' class="text-primary">МИЦ «Композиты России»</a></div>
		</div>
	</div>

	<div class="media my-5 py-5">
		<div class="media-body align-self-center">
			<div>«Мы много работаем с ребятишками, ведь поступление в вуз дело особое, надо очень почувствовать себя, в то ли ты направление пошел. Если человеку легко в технике, все эти страшно тяжелые предметы не пугают, он с легкостью их осваивает – это наш студент! Чтобы это понять и почувствовать, надо попробовать всё своими руками. «Инжинириум МГТУ им. Н.Э. Баумана» - проводник в мир МГТУ. Нам нужны такие смышленые ребятишки, мы поможем вам найти в жизни свой путь. Главное, чтобы было желание!»</div>
			<hr>
			<div class="h5 font-weight-bold">Анатолий Александров</div>
			<div class="">ректор МГТУ им. Н.Э. Баумана</div>
		</div>
		<img src="https://inginirium.ru/img/about_aleksandrov.png" class="mr-3 d-none d-md-block  align-self-center" height="180px">
	</div>

	<div class="media my-5 py-5">
		<img src="https://inginirium.ru/img/about_kubok.png" class="mr-3 d-none d-md-block  align-self-center" height="180px">
		<div class="media-body align-self-center">
			<div><strong>«Инжинириум»</strong> работает не только со школьниками, но и <a href='/students/' class="text-primary">со студентами</a> МГТУ им. Н.Э. Баумана для реализации самых смелых проектов. Мы предоставляем экспертную техническую поддержку, лабораторное оборудование и все необходимое, чтобы воплотить идею в законченный продукт. На базе технопарка «Инжинириум МГТУ им. Н.Э. Баумана» студенты участвуют в программе У.М.Н.И.К., CompositeBattle, хакатонах и хардатонах, а эксперты технопарка оказывают им содействие в подготовке к российским и Международным конкурсам профессионального мастерства. «Инжинириум» открыт к сотрудничеству со студенческими объединениями и успешно взаимодействует с УНМЦ «Гидронавтика», МКЦ МГТУ им. Н.Э. Баумана и другими.</div>
		</div>
	</div>
</section>

<a name="teachers"></a>
<section class="bg-light py-5">
	<div class="container mt-5">
		{% include components/h.html text='Преподаватели' %}

		<div class="row m-0">
			<div class="col-sm mb-5">Наши преподаватели — лучшие выпускники, аспиранты и студенты из Бауманки. Мы регулярно проводим повышение квалификации и собираем обратную связь от ребят, чтобы гарантировать лучших преподавателей для ваших детей.</div>
			<div class="col-sm mb-5">
				<div class="float-right">
					<div class="media">
						<i class="las la-thumbs-up la-4x align-self-center"></i>
						<div class="align-self-center">
							<div class="h4 font-weight-bold">23 года</div>
							Средний возраст наших преподавателей
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-light">
	<div id="carouselSlide" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for instructor in site.data.instructors %}
			
			<div class="modal" id="instructor{{ forloop.index0 }}" tabindex="-1">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-body p-5">
							<center class='mb-3'><img src="{{ instructor.photo }}" alt="{{ include.title }}" height="180px"></center>
							<div class="h4 font-weight-bold text-break">{{ instructor.fullname }}</div>
							<hr>
							{% if instructor.quote %}<div class="h6 mb-5"><i>«{{ instructor.quote }}»</i></div>{% endif %}

							{% if instructor.edu %}<div class="mt-2"><b>Образование</b><br><small>
								{% for edu in instructor.edu %}
									- {{ edu }}{% if forloop.last %}.{% else %};<br>{% endif %}
								{% endfor %}
							</small></div>{% endif %}
							{% if instructor.dopedu %}<div class="mt-2"><b>Дополнительное образование</b><br><small>
								{% for dopedu in instructor.dopedu %}
									- {{ dopedu }}{% if forloop.last %}.{% else %};<br>{% endif %}
								{% endfor %}
							</small></div>{% endif %}
							{% if instructor.about %}<div class="mt-2"><b>О себе</b><br><small>
								{% for about in instructor.about %}
									- {{ about }}{% if forloop.last %}.{% else %};<br>{% endif %}
								{% endfor %}
							</small></div>{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class='carousel-item{% if forloop.first %} active{% endif %} align-items-center justify-content-center pb-5'>
				<div class='align-items-center justify-content-center align-self-center'>
					<div class='container align-self-center p-0'>
						<div class='row align-self-md-center justify-content-center align-items-center m-0'>
							<div class='col-md-5 align-self-center text-center' style="height: 300px;">
								<img alt='{{ instructor.fullname }}' src='{{ instructor.photo }}' style="max-width: 300px;">
							</div>	
							<div class='col-md align-self-center text-center text-md-left pl-md-5 pl-lg-0'>
								<div class='h4 text-break pb-3 font-weight-bold'>{{ instructor.fullname }}</div>	
								<div class='h6 pb-3'>{{ instructor.quote }}</div>
								<div class='d-flex justify-content-center justify-content-md-start'>
									<button data-target="#instructor{{ forloop.index0 }}" data-toggle="modal" class='btn btn-purple btn-rainbow rounded-pill py-2 px-5' onclick="swalfire()">Сведения</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
			<i class="las la-angle-left la-2x text-dark"></i>
		</a>
		<a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
			<i class="las la-angle-right la-2x text-dark"></i>
		</a>
	</div>
</section>

<a name="partners"></a>
<section class="container my-5">
	{% include components/h.html text='ПРИ ПОДДЕРЖКЕ' %}
	<div class="row m-0">
		{% for partner in site.data.partners %}
		<div class="col-sm-6 mb-5">
			<img src="{{ partner.logo }}" style="max-width: 100%; max-height: 120px;">
			<div class="mt-3">{{ partner.description }}</div>
			<a href="{{ partner.site }}" target="_blank" rel="external" class="text-primary">{{ partner.site }}</a>
		</div>
		{% endfor %}
	</div>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-about').addClass('bg-yellow');
</script>