---
title: Фирменный стиль
permalink: brand/
---

<section class="container my-5">
	{% include components/h.html text='Фирменный стиль' %}
	{% include components/h.html text='<a href="https://inginirium.ru/brand/inginirium_brand-guide.pdf" class="text-purple" target="_blank">Гайд по использованию фирменного стиля</a> (PDF, 18,6 MB)' class='h5' %}
	<center class="py-5">
		<img src="https://inginirium.ru/brand/Inginirium_Logo_490x229.png" class="w-50">
		<div class="py-5">
			<a href="https://inginirium.ru/brand/Inginirium_Logo_490x229.png" class="text-purple" target="_blank">PNG</a> (17 KB), <a href="https://inginirium.ru/brand/Inginirium_Logo.eps" class="text-purple" target="_blank">EPS</a> (69 KB), <a href="https://inginirium.ru/brand/Inginirium_Logo.svg" class="text-purple" target="_blank">SVG</a> (40 KB)
		</div>
	</center>
</section>