---
title: Детские лагеря для школьников
permalink: camps/
---

{% include components/h-bigpic.html title='ДЕТСКИЕ ЛАГЕРЯ ДЛЯ ШКОЛЬНИКОВ ИНЖИНИРИУМ МГТУ им. Н.Э. Баумана' subtitle='Инженерные секции, организованные совместно с лучшими летними детскими лагерями.' image='https://inginirium.ru/img/headpic_camps.png' %}

<section class="container my-5 py-5">
	{% include components/h.html text='В данный момент смен нет.<br>Следите за новостями!' %}
</section>

{% include blocks/latest-news.html %}

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-camps').addClass('bg-yellow');
</script>