---
title: ЦМИТ
permalink: cmit/
---

{% include blocks/subnav-techno.html %}

{% include components/h-bigpic.html title='ЦМИТ ИНЖИНИРИУМ МГТУ им. Н.Э. Баумана' subtitle='ЦМИТ МГТУ - это Центр молодёжного инновационного творчества' image='https://inginirium.ru/img/headpic_cmit.png' %}

<section class="container my-5">
	<ul>
		<li class="mb-4">Наши преподаватели – выпускники и аспиранты МГТУ им. Н.Э. Баумана, которые имеют опыт преподавания, а также являются участниками и призерами инженерных соревнований.</li>
		<li class="mb-4">Центр дает возможность детям, подросткам и молодым специалистам познакомиться с инновационными технологиями и вести научно-исследовательские и опытно-конструкторские работы с использованием передового оборудования <a href="https://emtc.ru/" class="text-primary">Межотраслевого инжинирингового центра "Композиты России"</a>.</li>
	</ul>
</section>

{% include components/h.html text='Курсы в ЦМИТ' %}
{% include blocks/top-courses-list.html %}

{% include blocks/faqlink.html %}

<script type="text/javascript">
	$('#nav-cmit').addClass('bg-yellow');
</script>