---
title: Документы
permalink: docs/
---

<section class="container my-5">
	{% include components/h.html text='Документы' %}
	<ul>
		<li><a href='https://inginirium.ru/offer/'>Договор-оферта о предоставлении услуг</a></li>
		<li><a href='https://inginirium.ru/userconsent/'>Согласие на обработку персональных данных</a></li>
		<li><a href='https://inginirium.ru/policy/'>Политика конфиденциальности веб-сайта inginirium.ru</a></li>
		<li><a href='https://inginirium.ru/docs/refund.docx'>Заявление на возврат денежных средств</a> (DOC, 34 Кб)</li>
		<li><a href='https://inginirium.ru/docs/mothercapital.doc'>Договор на оплату мат.капиталом занятий</a> (DOC, 71 Кб)</li>
		<li><a href='https://inginirium.ru/docs/license.pdf'>Лицензия</a> (PDF, 628 Кб)</li>
	</ul>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}