---
title: Ответы на частые вопросы
permalink: faq/

obshije_voprosy:
  - q: 'Какая длительность одного занятия?'
    a: 'Занятие длится 2 академических часа (1 академический час = 45 минут) с перерывом 15 минут для более продуктивной работы. Т.е. каждое занятие фактически длится 1 час 45 минут (45 мин. + 15 мин. + 45 мин.)'
  - q: 'Сколько длится полный курс?'
    a: 'По-разному. Классический курс длится 36 занятий, что равно 72 академическим часам (1 академический час = 45 минут). Одно занятие один раз в неделю. Каждый курс предполагает модульность изучения, в конце которого ребенок выполняет проект. Модуль рассчитан на 18 занятий (36 ак. часов). Бывают краткосрочные курсы — интенсивы. Их длительность еще меньше.'
  - q: 'Имеется ли входной тест?'
    a: 'Входного тестирования у нас нет. Но на первом занятии определяется уровень подготовки ребенка, и в случае, если уровень более высокий, его можно определить в другую возрастную группу. Конечно, по желанию родителей.'
  - q: 'Есть ли дни открытых дверей?'
    a: 'Да, мы регулярно проводим дни открытых дверей в “Инжинириум МГТУ им. Н.Э. Баумана”. Следите за расписанием и новостями.'
  - q: 'Есть ли расписание занятий на сайте?'
    a: 'Обычно курсы идут в определенные дни недели и в установленные часы. Ознакомиться с расписанием каждого курса вы можете на странице курса.'
  - q: 'Дети какого возраста могут обучаться в Инжинириуме?'
    a: 'Традиционно у нас три возрастные группы: 1-4 класс, 5-8 класс и 9-11 класс. Однако, не стоит относится к этому разделению очень строго, если подготовка ученика 4 класса позволяет ему обучаться с более старшей группой, мы предоставим такую возможность. Для этого на первом занятии определяем уровень подготовки ребенка. Однако, на некоторых курсах важно, чтобы ребенок был не младше 14 лет (например, Композиционные материалы в авиастроении), это связано с ограничениями техники безопасности.'
  - q: 'Можно ли записаться в группу, где уже проходят занятия?'
    a: 'Если только группа занимается не более недели. В остальных случаях подобную практику мы не используем в связи со спецификой изучаемых предметов. Но мы регулярно запускаем новые группы и всегда найдем решение.'
  - q: 'Можно ли перевестись с одного курса на другой?'
    a: 'Да, это возможно. Свяжитесь с Администратором по телефону для уточнения деталей.'
  - q: 'Можно ли перенести занятие?'
    a: 'Если вы не смогли посетить занятие по уважительной причине, его можно компенсировать, придя на отработку к другой группе, либо вернув эквивалентную сумму денег.'
  - q: 'Выдаете ли вы документ об окончании курса?'
    a: 'Да, мы выдаем грамоту об окончании курса “Инжинириум МГТУ им.Н.Э. Баумана”.'
  - q: 'Что дети получают по окончании курсов?'
    a: 'Мы выдаем грамоту об окончании курса “Инжинириум МГТУ им.Н.Э. Баумана”. Также ребенок получает в конце некоторых курсов результаты исследования индивидульно-типологических свойств в личности, характеристику с рекомендациями от преподавателя и куратора направления и возможность заключения отложенного трудового договора.'

payments:
  - q: 'Какая стоимость занятий?'
    a: 'Узнайте полную стоимость наших курсов в разделе <a href="/price" class="text-primary">Цены и скидки</a>'
  - q: 'Есть ли первое бесплатное занятие?'
    a: 'Нет, первое бесплатное занятие мы не проводим. Но зато проводим дни открытых дверей.'
  - q: 'Предусмотрены ли у вас льготы и скидки?'
    a: 'Да, вы можете получить скидки до 20%. С ними вы можете ознакомиться на странице <a href="/price" class="text-primary">Цены и скидки</a>'
  - q: 'В какой период производится оплата, раз в месяц, раз в семестр?'
    a: 'Оплата по вашему желанию может производится за месяц, за семестр, или сразу за год. За каждый период предусмотрена скидка, с которой вы можете ознакомиться на странице <a href="/price" class="text-primary">Цены и скидки</a>. Оплату необходимо осуществить до начала обучения, чтобы не было проблем с зачислением ребенка на интересующий курс.'
  - q: 'Можно ли оплачивать обучение материнским капиталом?'
    a: 'Да, можно. В случае использования материнского (семейного) капитала необходимо заблаговременно предупредить нас путем указания на данную формы оплаты в Заявке, оформляемой на сайте. В данном случае будет заключен трехсторонний договор между заказчиком, получателем услуги и исполнителем.Оплата за счет средств материнского (семейного) капитала производится на основании заявления о распоряжении средствами, поданного родителем в территориальный орган Пенсионного фонда Российской Федерации, путем безналичного перечисления средств территориальными органами Пенсионного фонда Российской Федерации на наш расчётный счет.'
  - q: 'Предоставляется ли скидка одиноким матерям?'
    a: 'В данный момент, скидка такого рода не предоставляется. Но у нас есть постоянная скидка за предоплату семестра и полного курса, специальная скидка на оплату последующих курсов, и дополнительная скидка в период проведения акций. С ними вы можете ознакомиться на странице <a href="/price" class="text-primary">Цены и скидки</a>.'
  - q: 'Какова процедура возврата денежных средств?'
    a: 'Возврат денежных средств возможен. Для этого необходимо заполнить заявление и связаться с нами по телефону <a href="tel:84951209975" class="text-primary">+7 (495) 120-99-75</a> или любым удобным для вас способом.'

exam:
  - q: 'Какой документ получают победители и участники Экзамена?'
    a: 'Участники, занявшие 1, 2 и 3 место в Инженерном Экзамене, награждаются Дипломом 1, 2 и 3 степени соответственно. В зависимости от степени Диплома начисляются дополнительные 10, 8 и 6 баллов, суммирующиеся с результатами ЕГЭ.<br><br>Участники, прошедшие во второй этап экзамена и принявшие в нем участие, получают Сертификат участника, который дает 2 дополнительных балла.'
  - q: 'Чем отличаются диплом и сертификат?'
    a: 'Диплом выдается участникам, занявшим 1, 2 и 3 место в Инженерном Экзамене. Сертификат выдается тем, кто прошел во второй этап экзамена и принял в нем участие.'
  - q: 'Суммируются ли баллы, полученные за Экзамен в разных годах?'
    a: 'Нет, при суммировании баллов с результатами ЕГЭ учитываются только баллы за 1 экзамен (по желанию участника). За участие в Экзамене можно получить максимально 10 баллов.'
  - q: 'Сколько действителен диплом победителя?'
    a: 'Диплом победителя действителен в течение 2-х календарных лет с момента его получения.'
  - q: 'Что делать, если я заболею в день проведения экзамена?'
    a: 'В случае отсутствия на Экзамене по уважительной причине, Вы должны предоставить Организационному комитету официальный документ (оригинал справки о болезни). На первом и на втором этапе предусмотрен резервный день, в который Вы можете сдать Экзамен. Точные даты резервного дня можно найти на сайте <a href="https://inginirium.ru/exam/" class="text-primary">https://inginirium.ru/exam/</a>.'
  - q: 'Как подготовиться к сдаче экзамена? Какие знания и навыки мне понадобятся?'
    a: 'Для сдачи Экзамена Вам необходимо будет продемонстрировать как теоретические, так и практические знания по выбранному направлению Экзамена. С примерами заданий прошлого года Вы можете ознакомиться на сайте <a href="https://inginirium.ru/exam/" class="text-primary">https://inginirium.ru/exam/</a>.'
  - q: 'Могу ли я сдавать Экзамен по нескольким направлениям сразу?'
    a: 'Нет, Экзамен можно сдавать только по 1 направлению.'
  - q: 'Могу ли я участвовать в направлении «Робототехника» в этом году, а в направлении «Трехмерные технологии» в следующем году?'
    a: 'Да, можете.'
  - q: 'Что мне нужно для прохождения первого этапа?'
    a: 'Вам необходимо <a href="https://inginirium.ru/exam#register" class="text-primary">зарегистрироваться на сайте</a>. Далее в назначенный день и время пройти онлайн первый этап Экзамена.'
  - q: 'В каких городах будет проводиться Инженерный экзамен?'
    a: 'Первый этап будет проводиться дистанционно, поэтому принять в нем участие можно из любой точки РФ. Второй этап будет проводиться в Москве, Санкт-Петербурге, Иваново, Нижнем Новгороде.'
  - q: 'Будут ли предоставляться привилегии при поступлении участникам второго этапа, не попавшим в число призеров?'
    a: 'После прохождения второго этапа Экзамена Вы получите дополнительных 2 балла, суммирующихся с результатами ЕГЭ.'
  - q: 'Могу ли я с дипломом или сертификатом поступить в другой вуз на тех же условиях?'
    a: 'Нет, так как результаты данного Экзамена учитываются только при поступлении в МГТУ им. Н.Э. Баумана.'
  - q: 'Будет ли оплачиваться проезд и проживание в Москве для иногородних участников Экзамена?'
    a: 'Нет.'
  - q: 'Сколько стоит участие в Экзамене?'
    a: 'Участие в Экзамене бесплатное.'
  - q: 'Могу ли я выполнить задания первого этапа из дома?'
    a: 'Да, можете. Для выполнения Экзамена Вам нужен компьютер и доступ в Интернет.'

online:
  - q: 'Можно ли посетить одно занятие в качестве пробного, а потом решить, будем ли мы продолжать?'
    a: 'Программа смены целостная, поэтому такой вариант не предусмотрен. Обязательное условие участия – полная оплата до начала смены.'
  - q: 'Если ребенку не понравится, вы вернете остаток денежных средств?'
    a: 'Программа лагеря разрабатывалась опытными методистами под каждое направление и возрастную категорию учащихся. Вероятность того, что ребенку не понравится, минимальна. Однако если такое произойдет, возврат денежных средств не предусмотрен.'
  - q: 'Есть ли рассрочка при оплате?'
    a: 'Рассрочки при оплате нет, обязательное условие участия – полная оплата до начала смены.'
  - q: 'Есть ли скидки?'
    a: 'Мы сделали стоимость наших занятий максимально доступной. Скидок не предусмотрено.'
  - q: 'Ребенок никогда не программировал. Какие-то специальные навыки программирования нужны?'
    a: 'Специальных навыков для участия в смене не требуется. Базовые знания программирования приветствуются, но не являются обязательными.'
  - q: 'Ребенок уже занимался программированием (робототехникой). Будет ли ему интересно поучаствовать в смене? Какую порекомендуете? Где программа посложнее?'
    a: 'Программы лагеря рассчитаны на учеников, которые не имеют начального опыта в программировании. Принять решение об участии Вы можете после ознакомления с программой по выбранному направлению. Помимо лагерных смен у нас проходят онлайн-интенсивы. Если Вы хотите, чтобы ребенок занимался на более сложном уровне, мы подберем такую программу, которая подойдет именно вам. На занятиях по робототехнике участники лагеря вне зависимости от возраста будут программировать плату Arduino. Участники смены 1-4 классов будут программировать её с помощью блокового языка программирования, похожего на Scratсh, а 5-8 класс в рамках лагеря изучат язык Arduino Wiring, который основан на языке С++. Таким образом, знания получаемые ребятами, будут новыми для тех, кто изучал Lego-робототехнику. Программа 5-8 классов значительно сложнее, так как там используется текстовый язык программирования. Поэтому не стоит туда записывать ребят из начальной школы.'
  - q: 'Можно ли присоединиться к смене (группе), которая уже начала заниматься?'
    a: 'Присоединиться можно к группе не позднее третьего дня занятий. Обязательное условие – полная оплата смены и просмотр видеозаписей двух пропущенных дней занятий, которые мы Вам отправим сразу после оплаты.'
  - q: 'Заключается ли договор?'
    a: 'На сайте Вы акцептуете <a href="https://inginirium.ru/offer/" class="text-primary">оферту</a>.'
---

{% include blocks/subnav-about.html %}

{% include components/h.html text='Ответы на частые вопросы' %}

{% include components/h-bg.html text='ОБЩИЕ ВОПРОСЫ' %}
{% assign accordionid = 1 %}
<section class="container my-5">
	<div class="accordion" id="accordionN{{ accordionid }}">
		{% for qa in page.obshije_voprosy %}
			{% include components/qa.html %}
		{% endfor %}
	</div>
</section>

{% include components/h-bg.html text='ОПЛАТА КУРСОВ' %}
{% assign accordionid = 2 %}
<section class="container my-5">
	<div class="accordion" id="accordionN{{ accordionid }}">
		{% for qa in page.payments %}
			{% include components/qa.html %}
		{% endfor %}
	</div>
</section>

{% include components/h-bg.html text='ИНЖЕНЕРНЫЙ ЭКЗАМЕН' %}
{% assign accordionid = 3 %}
<section class="container my-5">
	<div class="accordion" id="accordionN{{ accordionid }}">
		{% for qa in page.exam %}
			{% include components/qa.html %}
		{% endfor %}
	</div>
</section>

{% include components/h-bg.html text='ОНЛАЙН-ЛАГЕРЬ. ОБЩИЕ ВОПРОСЫ' %}
{% assign accordionid = 4 %}
<section class="container my-5">
	<div class="accordion" id="accordionN{{ accordionid }}">
		{% for qa in page.online %}
			{% include components/qa.html %}
		{% endfor %}
	</div>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-about').addClass('bg-yellow');
	$('#nav-faq').addClass('bg-yellow');
</script>