---
title: Отзывы
permalink: feedback/
---

{% include blocks/subnav-about.html %}

<section class="container my-5">
	{% include components/h.html text='Отзывы' %}
	<div class="row m-0">
		<div class="col">
			<div class="row">
				{% for feedback in site.data.feedback %}
					{% include components/feedback-card.html feedback=feedback col='4' %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-about').addClass('bg-yellow');
	$('#nav-feedback').addClass('bg-yellow');
</script>