---
title: Франшиза
permalink: franchise/
---

{% include components/h-bigpic.html title='ФРАНШИЗА ИНЖИНИРИУМ МГТУ им. Н.Э. Баумана' subtitle='' image='https://inginirium.ru/img/headpic_franchise.png' %}

<section class="container my-5">
	<center>
		<a href="#form" class="btn btn-purple px-5 py-3 btn-rainbow rounded-pill">Получить презентацию</a>
	</center>

	{% include components/h.html text='ПОЧЕМУ ИНЖИНИРИУМ?' %}
	<ul>
		<li class="mb-4">Франшиза образовательного центра «Инжинириум» позволит вам не только открыть бизнес, стабильно приносящий доход, но и внести свой вклад в развитие инженерного будущего нашей страны!</li>
		<li class="mb-4">Мы учим молодое поколение инженерному творчеству: изобретательской, аналитической, исследовательской и инновационной деятельности. </li>
		<li class="mb-4">Команда Инжинириума имеет опыт реализации и необходимый уровень для масштабирования бизнеса и передачи компетенций. </li>
		<li class="mb-4">Работая с нами в одной команде, мы вместе создадим новое поколение молодых инженеров. </li>
		<li class="mb-4">Приглашаем к сотрудничеству будущих партнеров, заинтересованных в росте компетентных специалистов и получении прибыли в сфере детского образования.</li>
	</ul>

	{% include components/h.html text='ПРЕИМУЩЕСТВА' %}
	<div class='row m-0 text-break'>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon1.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Использование бренда «Инжинириум МГТУ им. Н. Э. Баумана»</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon2.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Система лояльности</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon3.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Постоянная административная и техническая поддержкa</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon4.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Скрипты продаж и рекламные каналы</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon5.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Учебные планы</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon6.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Размещение информации на корпоративном сайте и ссылка на ваш ресурс</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon7.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Обучение сотрудников и преподавателей на регулярной основе</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon8.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Готовый бизнес-план</div></div></div>
		<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/franchise_icon9.png'></div><div class='p-2 align-self-center'><div class="h4 font-weight-bold">Передача лучших практик</div></div></div>
	</div>
</section>

<section class="container my-5">
	{% include components/h.html text='Пакеты франшизы' %}
	<div class='row m-0 align-items-center'>
	<div class='franchise__packages__buttonbar text-center col-12 d-lg-none'>
		<div class='row pb-5'>
			<div class='col-6 col-md-3 text-center'><button class='franchise__packages__button franchise__packages__button_selected btn btn-purple m-1' id='pkg1'>"Быстрый старт"</button></div>
			<div class='col-6 col-md-3 text-center'><button class='franchise__packages__button btn btn-danger m-1' id='pkg2'>"Стандарт"</button></div>
			<div class='col-6 col-md-3 text-center'><button class='franchise__packages__button btn btn-success m-1' id='pkg3'>"Премиум"</button></div>
			<div class='col-6 col-md-3 text-center'><button class='franchise__packages__button btn btn-primary m-1' id='pkg4'>"Ребрендинг"</button></div>
		</div>
	</div>

	<table class='table table-bordered table-striped d-lg-table d-none' id="tablepackages">
	  <thead>
	    <tr>
	      <th scope='col' class='franchise__packages__title_th'>
		   <div class='row franchise__packages__title_row'>
			<div class='col-6 col-lg-4 franchise__packages__title packages d-lg-block'><div class='franchise__packages__title_item'>Пакет</div></div>
	        <div class='col-6 col-lg-2 franchise__packages__title package1 d-lg-block text-center'><div class='franchise__packages__title_item'>Быстрый старт</div></div>
			<div class='col-6 col-lg-2 franchise__packages__title package2 d-lg-block text-center'><div class='franchise__packages__title_item'>Стандарт</div></div>
			<div class='col-6 col-lg-2 franchise__packages__title package3 d-lg-block text-center'><div class='franchise__packages__title_item'>Премиум</div></div>
			<div class='col-6 col-lg-2 franchise__packages__title package4 d-lg-block text-center'><div class='franchise__packages__title_item'>Ребрендинг*<div class='franchise__packages__title_explained'>Если уже есть образовательный центр</div></div></div>	
		   </div>
		  </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Курсы, шт</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'>7</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'>20</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'>30</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'>7</div>	
		   </div>	   
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Интенсивы, шт.</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'>0</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'>0</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'>2</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'>0</div>	
		   </div>	   
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Мастер-классы, шт.</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'>3</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'>6</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'>9</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'>3</div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Бизнес-процессы</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Подготовка преподавателей</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Продажи и сопровождение</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Администрирование</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Маркетинг и реклама</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Фирменный стиль</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Дополнительный курс</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Привлечение лидов</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'>25</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'>75</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Отложенные трудовые договоры с индустриальными партнерами</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Ежеквартальные тренинги по бизнес-процессам</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Ежеквартальный мониторинг работы КЦ</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Курс эффективного руководителя</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Ежегодный супервайзинг на месте</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'></div>
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Перечень рекомендуемого оборудования</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'><img src='https://inginirium.ru/img/check.png'></div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Роялти</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center align-self-center'>10%</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center align-self-center'>10%</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center align-self-center'>10%</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center align-self-center'>10%</div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Сумма инвестиций, руб.</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center'>от 1 000 000</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center'>от 1 500 000</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center'>от 2 000 000</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center'>Зависит от имеющегося оборудования</div>	
		   </div>
		  </td>
	    </tr>
	    <tr>
	      <td>
		   <div class='row'>
			<div class='col-6 col-lg-4 packages d-lg-block'>Включая паушальный взнос, руб.</div>
	        <div class='col-6 col-lg-2 package1 d-lg-block text-center'>350 000</div>
			<div class='col-6 col-lg-2 package2 d-lg-block text-center'>500 000</div>
			<div class='col-6 col-lg-2 package3 d-lg-block text-center'>750 000</div>
			<div class='col-6 col-lg-2 package4 d-lg-block text-center'>300 000</div>	
		   </div>
		  </td>
	    </tr>
	  </tbody>
	</table>

	</div>

	<script>
	$('#pkg1').click(function () {$( document ).ready(function(){$('#tablepackages').removeClass('d-none');$('.package1').css('display','block');$('.package2').css('display','none');$('.package3').css('display','none');$('.package4').css('display','none');$('.franchise__packages__button_selected').removeClass('franchise__packages__button_selected');$('#pkg1').addClass('franchise__packages__button_selected');});});
	$('#pkg2').click(function () {$( document ).ready(function(){$('#tablepackages').removeClass('d-none');$('.package1').css('display','none');$('.package2').css('display','block');$('.package3').css('display','none');$('.package4').css('display','none');$('.franchise__packages__button_selected').removeClass('franchise__packages__button_selected');$('#pkg2').addClass('franchise__packages__button_selected');});});
	$('#pkg3').click(function () {$( document ).ready(function(){$('#tablepackages').removeClass('d-none');$('.package1').css('display','none');$('.package2').css('display','none');$('.package3').css('display','block');$('.package4').css('display','none');$('.franchise__packages__button_selected').removeClass('franchise__packages__button_selected');$('#pkg3').addClass('franchise__packages__button_selected');});});
	$('#pkg4').click(function () {$( document ).ready(function(){$('#tablepackages').removeClass('d-none');$('.package1').css('display','none');$('.package2').css('display','none');$('.package3').css('display','none');$('.package4').css('display','block');$('.franchise__packages__button_selected').removeClass('franchise__packages__button_selected');$('#pkg4').addClass('franchise__packages__button_selected');});});
	</script>
</section>

<a name="form"></a>
{% include components/endpageform.html text='ПОЛУЧИТЬ ПРЕЗЕНТАЦИЮ ФРАНШИЗЫ' image='https://inginirium.ru/img/franchise_cta.png' email=1 phone=1 town=1 %}