---
title: Мастер-классы
permalink: master-classes/
---

{% include components/h-bigpic.html title='ЭКСКУРСИИ И МАСТЕР-КЛАССЫ в МГТУ им. Н.Э. Баумана' subtitle='Для детей и их родителей мы предлагаем увлекательные экскурсии по МГТУ им. Н.Э. Баумана с возможностью участия в мастер-классах' image='https://inginirium.ru/img/headpic_masterclass.png' %}

<section class="container my-5 py-5">
	{% include components/h.html text='В данный момент смен нет.<br>Следите за новостями!' %}
</section>

{% include blocks/latest-news.html %}

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-master-classes').addClass('bg-yellow');
</script>