---
title: СМИ о нас
permalink: press/
---

{% include components/h.html text='СМИ о нас' %}

<section class="container p-0 my-5">
	<div class='row m-0 text-center'>
		{% for news in site.data.press %}
			{% include components/press-card.html news=news %}
		{% endfor %}
	</div>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}