---
title: Цены и скидки
permalink: price/
---

{% include blocks/subnav-about.html %}

{% include components/h.html text='Цены и скидки' %}

<div class="bg-yellow font-weight-bold">
	<div class="container py-5" id="news-section">
		{% include components/h.html text='БАЗОВАЯ ЦЕНА ЗА ОДНО ЗАНЯТИЕ' %}
		<center class="h4">на курсах Инжинириум</center>
		{% include components/h.html text='1800 руб' %}
		<center class="h6 mb-5">при оплате за одно занятие скидка не предоставляется</center>
		<center class="h3">Базовая цена за одно занятие с 01.01.2022 - 1 950 рублей</center>
	</div>
</div>

<div class='container'>
	{% include components/h.html text='Оплата возможна' %}
	<div class='row justify-content-center'>
		<div class='col-sm bg-yellow p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-center'>за один<br>месяц</div>
				</div>
			</div>
		</div>
		<div class='col-sm bg-warning p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end'>1 семестр</div>
				</div>
				<hr class=''>
				<div class='h1'>-10%</div>
			</div>
		</div>
		<div class='col-sm bg-danger p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'>1 курс</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-15%</div>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	{% include components/h.html text='Скидки по ситуации' %}
	<div class='row justify-content-center'>
		<div class='col-sm bg-info p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'><b class="text-white">2</b> и более курсов одновременно, на все обучение</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-7%</div>
			</div>
		</div>
		<div class='col-sm bg-purple p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'><b class="text-white">2</b> и более детей из семьи</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-7%</div>
			</div>
		</div>
		<div class='col-sm bg-primary p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'>многодетные семьи, малоимущие граждане, потеря кормильца, сироты</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-10%</div>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	{% include components/h.html text='СКИДКИ НА ПОСЛЕДУЮЩИЕ КУРСЫ' %}
	<div class="h5 mb-5 text-center">Отучился на одном курсе - на следующий курс будет скидка!<br>Скидка больше за третий курс! И еще больше за четвертый!</div>
	<div class='row justify-content-center'>
		<div class='col-sm bg-yellow p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end'>на второй курс</div>
				</div>
				<hr class=''>
				<div class='h1'>-10%</div>
			</div>
		</div>
		<div class='col-sm bg-danger p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'>на третий курс</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-15%</div>
			</div>
		</div>
		<div class='col-sm bg-success p-5 h4'>
			<div class='text-center'>
				<div class=''>
					<div class='align-self-end text-white'>на четвёртый курс и далее</div>
				</div>
				<hr class='bg-white'>
				<div class='h1 text-white'>-20%</div>
			</div>
		</div>
	</div>
	<div class="h5 my-5 text-center text-danger">Сумма скидок суммируется, но не может более 20%</div>
</div>

<section class="container my-5 py-5">
	{% include components/h.html text='ОПЛАТА МАТЕРИНСКИМ КАПИТАЛОМ' %}
	<div class="h5 my-5 text-center">Вы можете оплатить обучение в "Инжинириум МГТУ им. Н.Э. Баумана" материнским (семейным) капиталом. Для этого необходимо заблаговременно предупредить нас, оставив заявку по форме на сайте. Оплата за счет средств материнского (семейного) капитала будет осуществляться путем перечисления средств Пенсионного фонда Российской Федерации на наш расчётный счет.<br><br>Подробности уточняйте по телефону<br><br><a class="text-primary h4" href="tel:84951209975">+7 (495) 120-99-75</a></div>
</section>

{% include blocks/calc.html %}

<script type="text/javascript">
	$('#nav-about').addClass('bg-yellow');
	$('#nav-price').addClass('bg-yellow');
</script>