---
title: Работа со студентами
permalink: students/
---

{% include blocks/subnav-techno.html %}

{% include components/h-bigpic.html title='РАБОТА СО СТУДЕНТАМИ ИНЖИНИРИУМ' subtitle='МГТУ им. Н.Э. Баумана регулярно организует студенческие мероприятия и помогает студентам в подготовке к международным студенческим конкурсам' image='https://inginirium.ru/img/headpic_students.png' %}

<section class="container my-5 py-5">
	<div class='row m-0'>
		<div class='col-12 col-md-5 col-lg-4'><div><img class='img-fluid' src='https://inginirium.ru/files/students/students_umnik.png'></div><div class='py-4'><h3 class="font-weight-bold"></h3></div>
		</div>
		<div class='col-12 col-md-7 col-lg-8'><h2 class="font-weight-bold">ПРОГРАММА У.М.Н.И.К</h2>
		<br>
		Если хотите участвовать в программе У.М.Н.И.К., но не знаете с чего начать, мы подскажем и поможем! У нас вы найдете единомышленников и новых членов команды.<br>
		<br>
		<h3 class="font-weight-bold">Направления подготовки</h3>
		•  Информационные технологии<br>
		•  Медицины и биомедицина будущего<br>
		•  Био- и нейротехнологии<br>
		•  Современные материалы и технологии их создания<br>
		•  Новые приборы и аппаратные комплексы<br>
	</div>
</section>

<section class="bg-light my-5 py-5">
	<div class="container">
		<div class='row m-0'>
			<div class='col-12 col-md-5 col-lg-4'><div><img class='img-fluid' src='https://inginirium.ru/files/students/students_materov.png'></div><div class='py-4'><h3 class="font-weight-bold">“Инжинириум” поможет студентам МГТУ им. Н.Э.Баумана подготовиться к международным соревнованиям по подводной робототехнике</h3></div>
			</div>
			<div class='col-12 col-md-7 col-lg-8'>УНМЦ “Гидронавтика” - команда студентов МГТУ им. Н.Э.Баумана, занимающаяся разработкой подводных аппаратов, исследованием и внедрением новых технологий. Ребята с 2010 года участвуют в международных соревнованиях, где, решая интересные и масштабные задачи, показывают высокие результаты.

			В июне 2019 года команда планирует участие в Международных соревнованиях по подводной робототехнике “MATE ROV COMPETITION” в США, на которых они представят свои новые разработки. В ходе подготовки к соревнованиям, студенты проведут ряд работ на базе технопарка “Инжинириум МГТУ им. Н.Э. Баумана”.

			Проект команды УНМЦ “Гидронавтика” будет состоять из подводного аппарата и пульта управления к нему. Панель пункта управления должна быть легкой, прочной, не сильно пластичной и нетокопроводящей, т.е. для ее выполнения идеально подойдут композитные материалы.

			В рамках изготовления детали ребятам необходимо будет решить следующие задачи: подобрать материалы, используемые при изготовлении изделия, выбрать направления укладки тканей, способ изготовления изделия: контактное формование или вакуумная инфузия и реализовать проект. Наставником команды УНМЦ “Гидронавтика” станет куратор курса “Композиты” технопарка “Инжинириум МГТУ им.Н.Э.Баумана”.
			</div>
		</div>
	</div>
</section>

<section class="container my-5 py-5">
	<div class='row m-0'>
		<div class='col-12 col-md-5 col-lg-4'><div><img class='img-fluid' src='https://inginirium.ru/files/students/students_combat.png'></div><div class='py-4'><h3 class="font-weight-bold">«Инжинириум МГТУ им. Н.Э. Баумана» - площадка проведения хакатона по композитам «Composite Battle. Кубок МГТУ им. Н.Э. Баумана»</h3></div>
		</div>
		<div class='col-12 col-md-7 col-lg-8'>Сегодня хакатоны уже не относятся исключительно к программированию, они проводятся с образовательной целью во всех отраслях науки. Для популяризации отрасли композитов мы организуем мероприятие, которое дает студентам прекрасную возможность проверить свои навыки, проявить себя.<br>
		<br>
		Соревнования проводятся на базе технопарка «Инжинириум МГТУ им. Н.Э. Баумана», на площадке, оснащенной высокотехнологичным оборудованием и максимально комфортной для работы молодых профессионалов.<br>
		<br>
		Для участия в хакатоне по композитам приглашаются, а также формируются команды от 3 до 5 человек среди студентов МГТУ имени Баумана. Количество команд ограничено!</div>
	</div>
</section>

<section class="bg-light my-5 py-5">
	<div class="container">
		<div class='row m-0'>
			<div class='col-12 col-md-5 col-lg-4'><div><img class='img-fluid' src='https://inginirium.ru/files/students/students_ysc.png'></div><div class='py-4'><h3 class="font-weight-bold">Студенты МКЦ МГТУ им. Н.Э. Баумана проводят испытания наноспутников в технопарке «Инжинириум»</h3></div>
			</div>
			<div class='col-12 col-md-7 col-lg-8'>Космические аппараты при полете на околоземной орбите сталкиваются с условиями, нехарактерными для устройств, работающих на земле: глубокого вакуума, при этом на освещенном участке орбиты они подвергаются воздействию мощного теплового потока со стороны солнца, а на теневом обращены в сторону холодных участков космического пространства.<br>
			<br>
			Экспериментальная проверка работоспособности космических аппаратов в таких жестких условиях является необходимой практикой инженеров, для этого используются термовакуумные камеры-имитаторы космического пространства.<br>
			<br>
			Свой имитатор космического пространства имеется в технопарке «Инжинириум МГТУ им. Н.Э. Баумана». Слушатели технопарка вместе со студентами МГТУ им. Н.Э. Баумана могут проверять работоспособность своих устройств в самых экстремальных условиях функционирования техники.</div>

		</div>
	</div>
</section>

<section class="container my-5 py-5">
	<div class='row m-0'>
		<div class='col-12 col-md-5 col-lg-4'><div class='py-4'><h3 class="font-weight-bold">«Инжинириум МГТУ им. Н.Э. Баумана» - площадка проведения Хардатона «Инженерный вызов»</h3></div>
		</div>
		<div class='col-12 col-md-7 col-lg-8'>Хардатон «Инженерный вызов» - соревнования для студентов 1-2 курсов технических специальностей ВУЗов Москвы и Московской области. В течение двух дней участники разрабатывали проекты на базе технопарка и осваивали новые навыки на мастер-классах от специалистов в области инжиниринга и 3D-печати, ведущих преподавателей «Инжинириум МГТУ им. Н.Э. Баумана».<br>
		<br>
		Основная задача студентов, принявших «Инженерный вызов», заключается в том, чтобы выделить остросоциальную проблему современного общества и предложить ее инженерное решение. В технопарке «Инжинириум МГТУ им. Н.Э. Баумана» есть все необходимое для реализации своих задумок: площадка оснащена высокотехнологичным оборудованием, эксперты всегда готовы подсказать оптимальный путь решения сложных задач, а в дружелюбной обстановке Вы сможете найти единомышленников для воплощения самых смелых идей!</div>
	</div>
</section>

{% include components/endpageform.html text='ПОЛУЧИТЕ ДОПОЛНИТЕЛЬНЫЕ МАТЕРИАЛЫ ПО ТЕХНОПАРКАМ ИНЖИНИРИУМ' image='https://inginirium.ru/img/students_cta.png' email=1 %}

<script type="text/javascript">
	$('#nav-students').addClass('bg-yellow');
</script>