---
title: Технопарки
permalink: technopark/
---

{% include blocks/subnav-techno.html %}

{% include components/h-bigpic.html title='ТЕХНОПАРКИ ИНЖИНИРИУМ МГТУ им. Н.Э. Баумана' subtitle='Инженерные курсы для школьников с 9 по 11 класс<br>м. Бауманская и м. Водный стадион' image='https://inginirium.ru/img/headpic_technopark.png' %}

<section class="container my-5">
	{% include components/h.html text='Технопарки' %}
	<ul>
		<li class="mb-4"><b>Технопарки ИНЖИНИРИУМ МГТУ им. Н.Э. Баумана</b> - площадки для развития научно-технического и инженерного потенциала учащихся старших классов московских школ и студентов.</li>
		<li class="mb-4">Все наши технопарки оснащены современным высокотехнологичным оборудованием для инновационного творчества. В качестве профиля Технопарков выбраны наиболее перспективные направления развития науки и техники, таким образом наше образование всегда востребовано на рынке.</li>
		<li class="mb-4">Обучение осуществляется по принципу применения полученных знаний на практике: каждый курс основан на выполнении реального проекта. Никаких скучных лекций или нудной зубрежки, только интересные задания и практическая работа в группах.</li>
	</ul>
</section>

<section class="bg-light my-5 py-5">
	<div class="container">
		{% include components/h.html text='ТЕХНОПАРК (ГОСПИТАЛЬНЫЙ)' %}

		<div class='row m-0 text-break'>
			<div class="col-12 col-md-6 col-xl-3 text-center py-5"><img src="https://inginirium.ru/img/technopark_gosp1.png"></div>
			<div class="col-12 col-md-6 col-xl-3 text-center py-5"><img src="https://inginirium.ru/img/technopark_gosp2.png"></div>
			<div class="col-12 col-md-6 col-xl-3 text-center py-5"><img src="https://inginirium.ru/img/technopark_gosp3.png"></div>
			<div class="col-12 col-md-6 col-xl-3 text-center py-5"><img src="https://inginirium.ru/img/technopark_gosp4.png"></div>

			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon1.png'></div><div class='p-2'><div class="h4 font-weight-bold">Робототехника</div>Основной курс лаборатории — проектирование, конструирование и сборка роботов. На базе программ- ной платформы Arduino ученики конструируют сложные механизмы робота, проводя кинематический расчет и используя аппаратные комплексы LEGO Mindstorms EV3 лаборатории.</div></div>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon2.png'></div><div class='p-2'><div class="h4 font-weight-bold">Нанотехнологии и композиты</div>Современное оборудование лаборатории поможет ученикам самостоятельно изготовить изделия из композитных материалов и научиться проводить сложные расчёты на прочность. Ученики участвуют и побеждают в различных российских и международных фестивалях, соревнованиях и конкурсах инженерных и общеобразовательных компетенций, таких как: Composite Battle, Junior WorldSkills и др.</div></div>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon3.png'></div><div class='p-2'><div class="h4 font-weight-bold">3D-технологии</div>Освоив трёхмерное моделирование при помощи программных продуктов Autodesk, ученики получат возможность создать собственное уникальное трехмерное изделие и напечатать его на 3D принтерах нового поколения.</div></div>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon4.png'></div><div class='p-2'><div class="h4 font-weight-bold">Космические и летательные аппараты</div>В рамках лаборатории ученики самостоятельно проекти- руют конструкцию ракеты на примере легендарной Р-7, изготавливают её масштабную модель из композитных материалов или печатают детали ракеты на 3D-принтере.Вы можете выбрать удобный формат занятий: инженерные курсы, лагеря-интенсивы на школьных каникулах или мастер-классы.</div></div>
		</div>
		{% include components/h.html text='ТЕХНОПАРК (НАРВСКАЯ)' %}
		<div class='row m-0'>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon5.png'></div><div class='p-2'><div class="h4 font-weight-bold">Космическая робототехника</div>В рамках лаборатории ученики самостоятельно проектируют ракеты и космические летательные аппараты, а также роботов, предназначенных для работы в условиях космоса.</div></div>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon6.png'></div><div class='p-2'><div class="h4 font-weight-bold">Арктические композиционные материалы</div>Композитные материалы, предназначенные для выполнения задач в условиях крайнего севера, Арктики и других экстремальных условиях.</div></div>
			<div class='col-12 col-lg-6 media'><div class='p-3'><img src='https://inginirium.ru/img/technopark_icon7.png'></div><div class='p-2'><div class="h4 font-weight-bold">Подводная робототехника</div>Проектирование роботов, которые предназначены для работы под водой: большое давление, ограниченная освещенность, полная герметичность конструкции, а также системы 3D-навигации.</div></div>
		</div>
	</div>
</section>

{% include components/h.html text='Курсы в технопарках' %}
{% include blocks/top-courses-list.html %}

{% include blocks/faqlink.html %}

<script type="text/javascript">
	$('#nav-technopark').addClass('bg-yellow');
	$('#nav-technoparki').addClass('bg-yellow');
</script>