---
title: Благодарности
permalink: thanks/
---

{% include blocks/subnav-about.html %}

<section class="container my-5">
	{% include components/h.html text='Благодарности' %}
	<div class="row m-0">
		<div class="col">
			<div class="row">
				{% for thanks in site.data.thanks %}
					{% include components/thanks-card.html thanks=thanks col='4' %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-about').addClass('bg-yellow');
	$('#nav-thanks').addClass('bg-yellow');
</script>