---
layout: default
---

<section class="container my-5">
	<div class="media my-5">
		<img src="{{ page.image }}" class="align-self-center mr-3" alt="{{ page.title }}" height="100px">
		<div class="media-body align-self-center">
			<span class="h4 font-weight-bold text-break">{{ page.title }}</span>
		</div>
	</div>
	<p>{{ page.description }}</p>
	<hr>
	<div class="row m-0 no-gutters pb-5">
		<div class="col-6 col-md">
			<div class="h5 font-weight-bold">Для детей</div>
			<span>{{ page.classes }}</span>
		</div>
		<div class="col-6 col-md">
			<div class="h5 font-weight-bold">Длительность</div>
			{% for dot in page.duration %}
				{{ dot }}<br>
			{% endfor %}
		</div>
		<div class="col-6 col-md">
			<div class="h5 font-weight-bold">Занятие</div>
			{% for dot in page.scedule %}
				{{ dot }}<br>
			{% endfor %}
		</div>
		<div class="col-6 col-md">
			<div class="h5 font-weight-bold">Цена</div>
			<span>{{ page.cost }} руб./занятие</span><br>
			<span>{{ page.fullcost }} руб. за курс</span>
		</div>
	</div>

	{% if page.intensive %}
		{% include components/h.html text='Удобный формат обучения' class='h4' %}
		{% if page.format %}
			<ul>
				<li class="font-weight-bold">Первое занятие БЕСПЛАТНО!</li>
				{% for point in page.format %}
					<li>{{ point }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<ul>
				<li class="font-weight-bold">Первое занятие БЕСПЛАТНО!</li>
				<li>7 занятий в первом модуле</li>
				<li>2 раза в неделю в удобное время</li>
				<li>опытные преподаватели из МГТУ им. Н.Э. Баумана</li>
				<li>личное общение с каждым учащимся во время занятия: чат, голос, система обмена сообщениями</li>
				<li>формат вебинаров на ведущей платформе Webinar.ru</li>
				<li>запись занятия сохраняется</li>
			</ul>
		{% endif %}

		<center class='pb-5'><strong>По окончании курса Вы получите Грамоту об окончании интенсива (электронную версию)</strong></center>
	{% endif %}

	{% if page.keytasks %}
		{% include components/h.html text='Чему научим?' class='h4' %}
		Ключевые задачами реализации программы являются:
		<ul>
			{% for task in page.keytasks %}
			<li>{{ task }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</section>

<section class="bg-light py-5">
	<div class="container my-5">
		{% include components/h.html text='О чём курс?' class='h4' %}
		{{ content }}
	</div>
</section>

<section class='container my-5 p-0'>
	<div class='row px-4 m-0 pb-5'>
		{% include blocks/cta-course-form.html whitebg=1 text='ЗАПИСАТЬСЯ' email=1 %}
		<div class='col-12 col-lg-6'>
			{% include components/h.html text=page.title %}
			<div class='embed-responsive embed-responsive-16by9'>
				<iframe class='embed-responsive-item' src='{{ page.video }}' allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

{% for instructor in page.instructor %}
	{% if forloop.length < 2 %}
		{% include components/h.html text='Преподаватель курса' %}
		{% assign flag = 0 %}
	{% else %}
		{% include components/h.html text='Преподаватели курса' %}
		{% assign flag = 1 %}
	{% endif %}
	{% break %}
{% endfor %}

{% if flag %}
	{% for man in page.instructor %}
		{% include components/instructor-card.html instructor=man %}
	{% endfor %}
{% else %}
	{% include components/instructor-card.html instructor=page.instructor %}
{% endif %}

{% include components/endpageform.html text='ЕСТЬ ПРОМОКОД? ПОЛУЧИТЕ ОСОБЫЕ УСЛОВИЯ' image='https://inginirium.ru/img/promocode_cta.png' email=1 promo=1 %}

<script type="text/javascript">
	$('#nav-courses').addClass('bg-yellow');
</script>