---
layout: none
---

<!DOCTYPE html>
<html lang="ru">
{% include head.html %}
{% include blocks/alert-test.html %}
{% include header.html %}
<body class="border border-dark">

	{{ content }}

</body>
{% include footer.html %}
</html>