---
layout: default
---

<div class="bg-yellow font-weight-bold">
	<div class="container py-5" id="news-section">
		<nav>
			<ol class="breadcrumb bg-yellow">
				<li class="breadcrumb-item"><a href="/"><i class="las la-home la-lg" style="color: var(--purple)"></i></a></li>
				<li class="breadcrumb-item"><a href="/news">Новости</a></li>
			</ol>
		</nav>
		<center class="h5">{{ page.date | date: "%d.%m.%Y" }}</center>
		{% include components/h.html text=page.title %}
	</div>
</div>

<section class="container p-5" id="news-section">
	{{ page.content }}
</section>

{% include components/endpageform.html text='ОТВЕТИМ НА ВСЕ ВОПРОСЫ И ЗАПИШЕМ НА КУРСЫ' image='https://inginirium.ru/img/global_cta.png' %}