---
layout: default
---

<section class="container my-5">
	{% include components/h.html text='Список инженерных курсов для детей, школьников и подростков с 1 по 11 классы' %}
	<div class="row m-0">
		<div class="col-12 row m-0 mb-5">
			<button class="col btn btn-purple border-dark filter-button rounded-0" data-filter="all">Все</button>
			<button class="col btn bg-yellow border-dark filter-button rounded-0" data-filter="zero">дошкольники</button>
			<button class="col btn bg-yellow border-dark filter-button rounded-0" data-filter="onefour">1-4 класс</button>
			<button class="col btn bg-yellow border-dark filter-button rounded-0" data-filter="fiveeight">5-8 класс</button>
			<button class="col btn bg-yellow border-dark filter-button rounded-0" data-filter="nineeleven">9-11 класс</button>
			<button class="col btn bg-yellow border-dark filter-button rounded-0" data-filter="online">Онлайн</button>
			<a class="col btn btn-danger border-dark rounded-0" href="http://edu.bmstu.ru/?utm_source=inginirium&utm_medium=link&utm_campaign=site" target="_blank" rel="external">для взрослых</a>
		</div>
		<div class="col">
			<div class="row">
				{% for course in site.courses %}
					{% include components/course-card.html course=course col='4' %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include components/endpageform.html text='ПОМОЖЕМ ВЫБРАТЬ ПОДХОДЯЩИЙ КУРС ЗА 5 МИНУТ' image='https://inginirium.ru/img/global_cta.png' %}

<script type="text/javascript">
	$('#nav-courses').addClass('bg-yellow');
</script>

<script type="text/javascript">
$(document).ready(function(){
    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            $('.filter').show('1000');
        }
        else
        {
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        }
    });
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");
});
</script>